.advantage {
    padding: 50px 0;
    background: #eeeae9;

     @media screen and (max-width: 992px) {
        padding: 30px 0;    
    }

        .img_wrap {
            max-width: 255px;
            min-height: 191px;
            overflow: hidden;
        }
        .title_row {
            justify-content: center;
            margin-bottom: 30px;
        
             @media screen and (max-width: 992px) {
                  margin-bottom: 30px;
                }
            .col {
                text-align: center;
                display: flex;
                align-items: baseline;
                justify-content: center;
        
                @media screen and (max-width: 992px) {
                   flex-direction: column;
                   align-items: center;
                   justify-content: center;
                }
                
            }
        
        }

        .card_row {
           margin-bottom: 0;
        }
}

.advantage_title {
        max-width: 50%;
        font-size: 3rem;
        font-family: Impact, Charcoal, sans-serif;
        font-weight: extra-bold;
        letter-spacing: 5px;
        color: #e31f26;
        text-shadow:
        -1px -1px #fff,
        1px -1px #fff,
        -1px 1px #fff,
        1px 1px #fff;
        margin: 0 15px 0 0;
        padding: 0;
        line-height: 1; 

        @media screen and (max-width: 992px) {
           max-width: 100%;
           margin-right: 0;
        }

        @media screen and (max-width: 768px) {
            font-size: 3rem;
        }
        @media screen and (max-width: 624px) {
            font-size: 2.5rem;
        }
} 

.advantage_subtitle {
    white-space: nowrap;
    max-width: 50%;
    font-size: 2.5rem;
    font-family: Impact,Charcoal,sans-serif;
    font-weight: extra-bold;
    letter-spacing: 3px;
    color: #e31f26;
    text-shadow: -1px -1px #fff,1px -1px #fff,-1px 1px #fff,1px 1px #fff;
    margin: 0;
    padding: 0;
    line-height: 1;

    @media screen and (max-width: 992px) {
        max-width: 100%;
        font-size: 2rem;
    }
    @media screen and (max-width: 624px) {
        font-size: 1.5rem;
    }

    @media screen and (max-width: 575px) {
        text-align: center;
    }
}


.advantage_list {
    padding: 0 0 0 40px;
    margin-bottom: 30px;
    list-style-type: none;

    &-title {
        font-family: Impact,Charcoal,sans-serif;
        font-size: 2rem;
        line-height: 1.2;
        font-weight: 600;
        color: #e31f26;
        text-shadow: -1px -1px #fff,1px -1px #fff,-1px 1px #fff,1px 1px #fff;
        letter-spacing: 3px;
        margin-bottom: 15px;
        display: block;
        padding-top: 5%;
        margin-bottom: 30px;

        @media screen and (max-width: 991px) {
            font-size: 1.5rem;
            padding-top: 0;
            font-weight: normal;
        }

        @media screen and (max-width: 767px) {
        padding-bottom: 0;
        margin-bottom: 15px;
        }
    }

    .advantage_item {
        font-family: Arial,sans-serif;
        color: #333;
        font-size: 1.3rem;
        line-height: 1.4;
        padding-left: 40px;
        position: relative;

         @media screen and (max-width: 767px) {
            font-size: 1rem;
        }

        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            width: 25px;
            height: 25px;
            transform: translateY(-50%);
            background: url(../../assets/img/check-solid.svg) center center no-repeat;
            background-size: cover;
        }

        &:not(:last-child) {
            margin-bottom: 15px;

             @media screen and (max-width: 767px) {
        padding-bottom: 0;
        }   
        }
    }
}

.video_row {
    margin-bottom: 30px;

     .video {
        height: 0;
        padding-bottom: 25.25%;
       

            @media screen and (max-width: 576px) {
                padding-bottom: 56.25%;
            }

            &:first-child {
            @media screen and (max-width: 691px) {
                margin-bottom: 15px;
            }
        }

         iframe, .video_media {
            width: calc(100% - 30px);
            height: 100%;
            display: block;
            border: none;
            position: absolute;
            left: 15px;
            top: 0;
            background: #000;
           
        }
     }

}

.video_button {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 68px;
    height: 48px;
    border: none;
    background-color: transparent;
    transform: translate(-50%,-50%);
    padding: 0;
    display: none;
    cursor: pointer;
}

.video_button-shape {
    fill: #212121;
    fill-opacity: 0.8;

}

.video_button-icon {
    fill: #fff;
}

.video:hover {
     .video_button-shape {
        fill: #ff0000;
        fill-opacity: 1;

    }
}

.video_button:focus {
    outline: none;
     .video_button-shape {
        fill: #ff0000;
        fill-opacity: 1;

    }
}
.video--enabled {
    cursor: pointer;
}
.video--enabled .video_button {
    display: block;
}
.advantage_btn {
    margin: 0 auto 30px;
    display: block;
    padding: 15px 0;
    min-width: 200px;
    font-size: 1rem;
    text-transform: uppercase;

    &:last-child {
        margin-bottom: 0;
    }
}

.advantage_card {
    @media screen and (max-width: 991px) {
        &:nth-child(1), &:nth-child(2) {
            margin-bottom: 15px;
        }
    }
     @media screen and (max-width: 575px) {
        &:not(:last-child){
            margin-bottom: 15px;
        }  
    }

    img {
        margin-bottom: 20px;
        box-shadow: rgb(78, 78, 78) 4px 5px 4px 1px;

        @media screen and (max-width: 575px) {
        width: 100%;
        box-shadow: none;
    }
    }
}

.card-descr {
    text-align: justify;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;

    @media screen and (max-width: 575px) {
        text-align: left;
    }

    strong {
        text-transform: uppercase;
        display: block;
        margin-bottom: 15px;
    }

}