.descr {
    background: #eeeae9;
    padding: 30px 0;
details {
    summary {
        cursor: pointer;

        &:hover, &:focus {
            color: #9b4d4d;
            outline: none;
        }

    }

}

}

.descr_title {
    font-family: Impact,Charcoal,sans-serif;
    font-weight: bold;
    letter-spacing: 3px;
    color: #e31f26;
    text-shadow: -1px -1px #fff,1px -1px #fff,-1px 1px #fff,1px 1px #fff;
    margin: 0;
    padding: 0;
    line-height: 1;
    margin-bottom: 15px;
}

h1.descr_title {
    font-size: 3rem;

    @media screen and (max-width: 991px) {
        font-size: 2.5rem;
    }
    @media screen and (max-width: 624px) {
        font-size: 2rem;
    }
    @media screen and (max-width: 375px) {
        font-size: 1.7rem;
    }
}

.descr_subtitle {
    margin-bottom: 15px;
    font-size: 1.5rem;
}

details .descr_subtitle {
    margin-bottom: 10px;
    font-size: 1.1rem;
    text-transform: uppercase;
    @media screen and (max-width: 1200px) {
        font-size: 1rem;
    }
}

.descr_text {
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    text-align: justify;

    &:first-letter {
        margin-left: 15px;
    }

    &:not(:last-child) {
        margin-bottom: 15px;
    }

    strong {
        font-size: 1.2rem;
    }
}

.descr_list {
    list-style-type: none;
    padding: 0;

    li {
        position: relative;
        padding-left: 40px;

        &:not(:last-child) {
            margin-bottom: 15px;
        }

        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            background: url(../../assets/img/check-solid.svg) center center no-repeat;
            background-size: cover;
            width: 20px;
            height: 20px;
        }
    }
}

.descr_list--small {
    li {
        padding-left: 0;

        &:not(:last-child) {
            margin-bottom: 10px;
        }

        &:before {
            display: none;
        }

    }
}

h3.descr_title {
    font-weight: normal;
}