.home_intro {
    background: url(../../assets/img/IMG_0182.jpg) center 80% no-repeat;
    background-size: cover;
    height: (100vh);
    width: 100%;
    position: relative;
    box-shadow: rgb(78, 78, 78) 4px 5px 4px 1px;
    position: relative;
    z-index: 4;
     @media screen and (max-width: 767px) {
        height: calc(100vh - 50px);   
      }
        @media screen and (max-width: 375px) {
          height: calc(100vh - 100px);   
      }
    
    .intro_content {
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 60px 30px 30px 0;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        @media screen and (max-width: 1024px) and (min-width: 767px) {
          padding-bottom: 50px;
      }
       

        @media screen and (max-width: 768px) {
            padding-right: 15px;
        }
    }
    .intro_title, {
        font-size: 6rem;
        font-family: Impact, Charcoal, sans-serif;
        font-weight: extra-bold;
        letter-spacing: 5px;
        color: #e31f26;
        text-shadow:
        -1px -1px #fff,
        1px -1px #fff,
        -1px 1px #fff,
        1px 1px #fff;
        margin: 0;
        padding: 0;
        line-height: 1; 
        
         @media screen and (max-width: 1200px) {
            font-size: 4rem;
        }
        @media screen and (max-width: 768px) {
            font-size: 3rem;
        }
        @media screen and (max-width: 625px) {
            font-size: 2.5rem;
        }
        
    }

   
    .intro_subtitle {
        font-size: 3rem;
        font-family: Impact, Charcoal, sans-serif;
        font-weight: extra-bold;
        letter-spacing: 3px;
        color: #e31f26;
        text-shadow:
        -1px -1px #fff,
        1px -1px #fff,
        -1px 1px #fff,
        1px 1px #fff; 
        margin: 0;
        padding: 0; 
        line-height: 1;
         @media screen and (max-width: 1200px) {
            font-size: 2rem;
        }
        @media screen and (max-width: 625px) {
            font-size: 1.5rem;
        }
         @media screen and (max-width: 375px) {
          display: none;
        }
    }

    .subtitle {
      @extend .intro_subtitle;
    }
.intro_logo {
    margin-right: 30px;
    @media screen and (max-width: 768px) {
          margin-right: 5px;
          width: 75px;
    }
    
}
.mouse_wrap {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    padding-bottom: 40px;
    @media screen and (max-width: 1200px) {
        padding-bottom: 15px;
      }
        @media screen and (max-width: 1024px) {
        padding-bottom: 50px;
      }
    @media screen and (max-width: 883px) {
      display: none;
    }
}


.mouse {
  background: transparent;
  border: 2px solid #2e5d5d;
  position: relative;
  width: 32px;
  height: 58px;
  background-size: 100% 100%;
  border-radius: 100px;
  background-size: 225%;
  animation: colorSlide 5s linear infinite, nudgeMouse 5s ease-out infinite;
}
.mouse:before, .mouse:after {
  content: "";
  position: absolute;
  top: 10px;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.mouse:before {
  width: 50px;
  height: 85px;
  background-color: none;
  border-radius: 100px;
}
.mouse:after {
  background-color: #2e5d5d;
  width: 7px;
  height: 14px;
  border-radius: 7px;
  animation: trackBallSlide 5s linear infinite;
}

@keyframes trackBallSlide {
  0% {
    opacity: 1;
    transform: scale(1) translateY(-20px);
  }
  6% {
    opacity: 1;
    transform: scale(0.9) translateY(5px);
  }
  14% {
    opacity: 0;
    transform: scale(0.4) translateY(40px);
  }
  15%, 19% {
    opacity: 0;
    transform: scale(0.4) translateY(-20px);
  }
  28%, 29.99% {
    opacity: 1;
    transform: scale(1) translateY(-20px);
  }
  30% {
    opacity: 1;
    transform: scale(1) translateY(-20px);
  }
  36% {
    opacity: 1;
    transform: scale(0.9) translateY(5px);
  }
  44% {
    opacity: 0;
    transform: scale(0.4) translateY(40px);
  }
  45%, 49% {
    opacity: 0;
    transform: scale(0.4) translateY(-20px);
  }
  58%, 59.99% {
    opacity: 1;
    transform: scale(1) translateY(-20px);
  }
  60% {
    opacity: 1;
    transform: scale(1) translateY(-20px);
  }
  66% {
    opacity: 1;
    transform: scale(0.9) translateY(5px);
  }
  74% {
    opacity: 0;
    transform: scale(0.4) translateY(40px);
  }
  75%, 79% {
    opacity: 0;
    transform: scale(0.4) translateY(-20px);
  }
  88%, 100% {
    opacity: 1;
    transform: scale(1) translateY(-20px);
  }
}
@keyframes nudgeMouse {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(8px);
  }
  30% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(8px);
  }
  60% {
    transform: translateY(0);
  }
  80% {
    transform: translateY(8px);
  }
  90% {
    transform: translateY(0);
  }
}
@keyframes nudgeText {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(2px);
  }
  30% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(2px);
  }
  60% {
    transform: translateY(0);
  }
  80% {
    transform: translateY(2px);
  }
  90% {
    transform: translateY(0);
  }
}

}

#descr {
  .home_intro {
        background: url(../../assets/img/IMG_0182-0.5.jpg) center 80% no-repeat;
        height: 60vh;
        background-size: cover;
        box-shadow: none;

        .mouse_wrap {
          display: none;
        }
  }
}

html:not(#index) {
  .home_intro {

    .intro_content {
      padding-bottom: 15px;
    }
    
    .intro_title {
      @media screen and (min-width: 1200px) {
        font-size: 5rem;
      }
    }

    .intro_subtitle {
      @media screen and (min-width: 1200px) {
        font-size: 2.5rem;
      }
    }
    
  }
}
    

   