.shop {
    padding: 100px 0 50px;   
    background: url(../../assets/img/snow-wallpaper-2-600x800.jpg) center center no-repeat;
    background-size: cover;
    box-shadow: rgb(78, 78, 78) 4px 5px 4px 1px;
    position: relative;
    z-index: 3;

     @media screen and (max-width: 992px) {
        padding-top: 40px;
    }

    br {
         @media screen and (max-width: 362px) {
            display: none;
        }
    }

    details {
        position: relative;
        margin-bottom: 15px;
        summary {
        font-family: Arial, Helvetica, sans-serif;
        text-transform: uppercase;
        font-size: 0.9rem;
        color: #333;
        font-weight: bold;
        cursor: pointer;

            &:hover, &:focus {
                color: #9b4d4d;
                outline: none;
            }
        }
        
        ul {
            padding: 15px;
            margin: 10px 0 0;
            list-style-type: none;
            position: absolute;
            top: 20px;
            left: 0;
            background: linear-gradient(90deg, rgba(142,138,138,1) 0%, rgba(46,93,93,1) 100%); 
            border-radius: 10px;
            color: #fff;

            li:not(:last-child) {
                margin-bottom: 15px;
            }
        }
    }
}

.shop_list {
    list-style-type: none;
    padding: 0;
    margin: 0;

     @media screen and (max-width: 992px) {
        display: flex;
        flex-flow: row wrap;
        align-items: flex-start;
        margin-bottom: 30px;
        justify-content: center;
    }

       @media screen and (max-width: 908px) {
        padding-top: 0;
    }

       @media screen and (max-width: 390px) {
            justify-content: flex-start;
            margin: 0 auto 30px;
            padding-left: 10%;
        }

    span {
        font-family: Impact,Charcoal,sans-serif;
        font-size: 2.2rem;
        font-weight: 600;
        color: #e31f26;
        text-shadow: -1px -1px #fff,1px -1px #fff,-1px 1px #fff,1px 1px #fff;
        letter-spacing: 3px;
        margin-bottom: 15px;
        display: block;


        @media screen and (max-width: 992px) {
            font-size: 2rem;
            font-family: Arial, Helvetica, sans-serif;
            margin-right: 15px;
            line-height: 1.2;
            width: 100%;
            margin-bottom: 15px;
            text-align: center;
        }

         @media screen and (max-width: 624px) {
             font-size: 1.5rem;
         }

        @media screen and (max-width: 390px) {
            text-align: left;
        }
    }
    
}

.shop_item {
    color: #fff;
    font-weight: 900;
    font-size: 1.5rem;
    text-shadow: -1px -1px #333,1px -1px #333,-1px 1px #333,1px 1px #333;
    position: relative;
    padding-left: 40px;

    @media screen and (max-width: 1200px) {
        font-size: 1.2rem;
    }
    
    @media screen and (max-width: 992px) {
        font-size: 0.8rem;
        margin-right: 15px;
        padding-left: 20px;
    }

    &:not(:last-child) {
    margin-bottom: 30px;

    @media screen and (max-width: 1200px) {
        margin-bottom: 15px;
    }

    }

    &:before {
        position: absolute;
        left: 0;
        width: 20px;
        height: 30px;
        content: '';
        color: #333;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        top: 50%;
        transform: translateY(-50%);
        background: url(../../assets/img/award-solid.svg) center center no-repeat;
        background-size: cover;   
        
        @media screen and (max-width: 992px) {
            height: 20px;
            width: 15px;
        }
    }
    
}
.goods_row {
     @media screen and (max-width: 992px) {
         justify-content: center;
     }
}

.good {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &:not(:last-child) {
        @media screen and (max-width: 459px) {
            margin-bottom: 30px;
        }
    }


}

.good_vip {
    // position: relative;
    // top: -50px;
    
    @media screen and (max-width: 992px) {
        position: static;
    }

    .good_img {
        max-width: 70%;
       
        
         @media screen and (max-width: 908px) {
            max-width: 100%;
        }
         @media screen and (max-width: 421px) {
           margin-bottom: 15px;
        }
    }
}
.good_img {
    max-width: 90%;
     margin-bottom: 15px;
      @media screen and (max-width: 908px) {
            max-width: 100%;
        }
}

.good_title {
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    margin-bottom: 15px;
    text-align: center;

     @media screen and (max-width: 991px) {
            font-size: 1.2rem;
        }
}
.good_descr {
    font-family: Arial, sans-serif;
    color: #333;
    font-size: 1.5rem;
    line-height: 1.5;
    margin-bottom: 15px;
    margin-top: 0;

     @media screen and (max-width: 1200px) {
            // margin-bottom: 30px;
            font-size: 1.2rem;
        }
     @media screen and (max-width: 992px) {
            font-size: 1.2rem;
        }

      @media screen and (max-width: 459px) {
        margin: 0 auto 15px;
        font-size: 1.2rem;

    }

    span {
        color: #e31f26;
        font-weight: 600;
        // letter-spacing: 3px;
        font-family: Arial, Helvetica, sans-serif;
        // text-shadow: -1px -1px #fff,1px -1px #fff,-1px 1px #fff,1px 1px #fff;
    }
}

.goods_btn {
    font-size: 100%;
    padding: 10px 0;
    max-width: 70%;
    min-width: 200px;
    text-transform: uppercase;
    color: #2e5d5d;
        margin-top: auto;
        max-width: 70%;

    @media screen and (max-width: 459px) {
        margin: auto auto;
    }

    
}