.language {
    position: absolute;
    top: 90px;
    left: 15px;
    display: flex;
}
.language_list {
   list-style-type: none;
   padding: 0;
   display: flex;
   margin: 0;
   align-items: center;

   li:not(:last-child) {
      margin-right: 5px;
   }

   li:last-child {
     margin-left: -2px;
   }
}

[lang="rus"] .language_list li.rus {
  display: none;
}

[lang="en"] .language_list li.en {
  display: none;
}
[lang="ukr"] .language_list li.ukr {
  display: none;
}

.language_link {
  &:focus {
    outline: 1px solid #fff;
  }
}